*{
  margin: 0px;
  padding: 0px;
}
body{
  font-family: "나눔바른고딕 light";/*"Noto Sans CJK KR Medium";*/
  font-size: 16px;
  color: #444444;
  background-color: #ffffff;
  background-image: url("../img/back_img1.png");
  background-repeat: no-repeat;
}
.clear{
  clear: both;
}
section#main{
  width: 1280px;
  margin: 0 auto;
}
section#main #con1{
  width: 220px;
  float: left;
  margin-top: 120px;
}
section#main #con1 li{
  color: #666666;
  padding: 15px 0 15px 10px;
  border-bottom: solid 1px #cccccc;
  list-style: none;
  background-color: #ffffff;
}
section#main #con2 {
  float: left;
  width: 1000px;
  height: 240px;
  background-color: #fff;
  border-radius: 40px;
  margin-top: 120px;
  margin-left: 60px;

}
section#main #con2 h2{
  font-weight: bold;
  font-size: 32px;
  padding: 40px 0 20px 40px;;
}
section#main #con2 p{
  font-size: 16px;
  padding: 0px 0 0 40px;
}
section#main #con3 {
  width: 1280px;
  float: left;
  margin: 40px 0 0 0px;
}
section#main #con4{
  float: right;
  margin: 30px 50px 0 0;
}
section#main #con4 button{
  margin-left: 15px;
  padding: 10px;
  font-size: 14px;
  background-color: #ffc800;
  border-radius: 20px;
  border: none;
}
.if{
  margin-top: 90px;
  background-color: #fff;
  border: solid 1px #000;
}
